<% include partial/header%>
</head>
<body> 
	<div class="ad_wrap">  
            <a class="ad_pre" href="/admin">管理首页</a>
		    <div class="user_near_article">
		   		<% 	var nearArticle = d.data;
		   			for(var i=0;i<nearArticle.length;i++){ %> 
		   					<div class="articleitem">    
									<div class="msg_date"><%= nearArticle[i].convertdate  %> 说	 
										<div class="reply"> 
											<a class="deleteitem" data-tid="<%=nearArticle[i].tid %>">删除</a>  
										</div>
									</div>
									<pre class="msg_content"><%- nearArticle[i].newcontent %> </pre>  
								<div class="clearfix"></div>
							</div> 
		  		<% } %>
		  		<div class="navigator">
			  		 <% if(d.currentpage > 1 ){%>
			  			<a href="/admin/?pageid=<%= d.currentpage - 1  %>">
			  				<div class="last_page">&larr;上一页</div>
			  			</a>
			  		<%}%>
			  		<% if(nearArticle.length > 8 ){%>
			  			<a href="/admin/?pageid=<%= d.currentpage - (-1)  %>">
			  				<div class="next_page">下一页&rarr;</div>
			  			</a>
			  		<%}%>
		  		</div>
		   </div>
		</div>
		<div style="clear:both"></div>
	</div>				 