<% include partial/header%>
</head>
<body class="body_index">
	<% include partial/nav %>
	<div class="mainwrap"> 		
		<div class="about_head_info">
			   	<h3>Ta的拥趸<small>(<%=d.hefollowernum %>)</small></h3>
		</div>
		<div class="followlist_wrap">		    
			<div class="hefollow">			
				<%
					var hefollowerlist = d.hefollowerlist;  
					var length1 = hefollowerlist.length;
				%>
				<% 
						for(i=0;i<length1;i++){
						var hefollower =hefollowerlist[i]._fuid_info;
				%>
		 				<div class="perfollower">
							<a href="/user/<%=hefollower.name%>" alt="<%=hefollower.name%>"><img src=<%= hefollower.photo %>></a>
							<a href="/user/<%=hefollower.name%>" alt="<%=hefollower.name%>"><%=hefollower.name%></a>
						</div>
				<%}%>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>				
<% include partial/footer %>