<% include partial/header%>
</head>
<body>	
	<% include partial/nav %> 
	<div class="mainwrap reglogin_mainwrap"> 
		<div class="reglogin_head_info panel-heading">
			   	Ta的拥趸<small>(<%=d.hefollowernum %>)</small>
		</div>
		<div class="followlist_wrap">		    		
				<%
					var hefollowerlist = d.hefollowerlist;  
					var length1 = hefollowerlist.length;
				%>
				<% 
						for(i=0;i<length1;i++){
						var hefollower =hefollowerlist[i]._fuid_info;
				%>
		 				<div class="perfollower">
							<a href="/user/<%=hefollower.name%>" alt="<%=hefollower.name%>"><img src=<%= hefollower.photo %>></a>
							<a href="/user/<%=hefollower.name%>" alt="<%=hefollower.name%>"><%=hefollower.name%></a>
						</div>
				<%}%> 
		</div>
		<div style="clear:both"></div>
	</div>				
<% include partial/footer %>