
<% include partial/header%>
</head>
<body>
<% include partial/nav %>
<div class="mainwrap">
	<% if(!locals.userinfo){%>
	<div class="rightwrap">
		<%}else{%>
		<div class="rightwrap index_rightwrap">
			<%}%>
			<% include partial/indexsidebar %>
		</div>
		<div class="leftwrap">
			<div class="allmsg">
				<%
				var result = d.data;
				%>
				<% for(var i= 0;i<result.length;i++){
				if(result[i]){
				%> 
					<div class="articleitem"> 
					<div class="photowrap"><a class="userlink show-pop-async" data-uid=<%= result[i]._creator.uid %> href="/user/<%= result[i]._creator.name %>"><img src=<%= result[i]._creator.photo %>></a></div>
					<div style="margin-left:55px;">
						<div>
							<a class="title" id=<%= result[i].tid %> href="/user/<%= result[i]._creator.name %>"><%= result[i]._creator.name %></a>
							<%
							if(result[i].location){
							%>
							在
							<a href="/locate/<%- result[i].location %>/" ><span class="sitetext"><%- result[i].location %></span></a>
							
							<%}%>
							<% if(result[i].classify === 0){%>
							<span>说
								<% if(result[i].imagelength > 0 ){%>
								<i class="fa fa-picture-o">
								</i><%=result[i].imagelength%>
								<%}%>
							</span>
							<% if(result[i].title &&result[i].title.length > 0 ){%>
							<p class="item_title"><a href="/t/<%= result[i].tid %>"><%= result[i].title %></a></p>
							<%}%>
							<div class="msg_content"><%- result[i].newcontent %> </div>
							<%}else if(result[i].classify === 2){%>
							<span>发布一篇
								<% if(result[i].imagelength > 0 ){%>
								<i class="fa fa-picture-o" >
								</i><%=result[i].imagelength%>
								<%}%>
							</span>
							<% if(result[i].title &&result[i].title.length > 0 ){%>
							<p class="item_title"><a href="/t/<%= result[i].tid %>" class="articletype"><%= result[i].title %></a></p>
							<%}%>
							<div class="msg_content"><%- result[i].newcontent %> </div>
							<%}else{%>
							<span>分享来自
								<%if(result[i]._sid){%>
								<a  class="sitetext" href="/site/<%- result[i]._sid._id %>/"  data-toggle="tooltip" data-placement="right" title="<%=result[i]._sid.sbrief %>"><%=result[i]._sid.sname %></a>
								<%}else{%>
								net
								<%}%>
								
							的快链</span>
							<%if(result[i]._sid){%>
							<img class="sitepic" src="<%=result[i]._sid.spic %>">
							<%}%>
							<p class="item_title"><a href="/redirect?url=<%= result[i].title %>" target="_blank" class="urltype"><%= result[i].content %><i class="fa fa-external-link"></i></a></p>
							<%}%>
						</div>
						<div class="otherinfowrap">
							<div class="articledate">
								<i class="fa fa-clock-o"></i><%= result[i].convertdate  %>
							</div>
							<div class="articletag">
								<% if(typeof(result[i].label) !== "undefined"){
								if(result[i].label.length>0){%> 
									<i class="fa fa-tags"></i>
									<%
									var labelarr = result[i].label.split(",");
									for(var j=0 ;j<((labelarr.length-1)>4?4:(labelarr.length-1));j++){
										%> 
											<a href="/tag/<%- labelarr[j]%>/" ><%- labelarr[j]%></a> 
										<%}%> 
									<%}
								}%>
								</div>
								<div class="operwrap btn-group">
									<a class="viewbtn btn" data-tid="<%= result[i].tid %>" title="查看"><span><%= (result[i].view_count>0)?result[i].view_count:'' %></span><i class="fa fa-eye"></i></a>
									<a class="likebtn  btn" data-tid="<%= result[i].tid %>" title="赞"><span><%= (result[i].like_count>0)?result[i].like_count:'' %></span><i class="fa fa-chevron-up"></i></a>
									<a class="unlikebtn btn" data-tid="<%= result[i].tid %>" title="踩"><span><%= (result[i].unlike_count>0)?result[i].unlike_count:'' %></span><i class="fa fa-chevron-down"></i></a>
									<a class="replybtn btn" href="/t/<%= result[i].tid %>" title="吐糟"><%= (result[i].reply_count>0)?result[i].reply_count:'' %><i class="fa fa-comments"></i></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<%}}%>
				</div>
				<% include partial/pagination%>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- shouye -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-4947257507951598"
					     data-ad-slot="8456581869"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div> 
			<div style="clear:both"></div>


		</div>
		<% include partial/footer %>