<% include partial/header%>
</head>
<body>
	<% include partial/nav %>
	<div class="mainwrap">
		<div class="rightwrap">
			<% include partial/indexsidebar %>
		</div>
		<div class="leftwrap">
		<% if(locals.userinfo){%>
			<div class="writepanel">
				<form class="navbar-form navbar-right" id="pubstr" name="pubstr" method="GET" action="/pub">
					<textarea type="text" class="writebox" name="articlestr" id="articlestr" placeholder="写点什么呢?"></textarea>
					<input type="hidden" name="cateid" value='0'/>
					<div class="inputopt"><button type="submit" class="btn btn-default" id="subarticle">发布</button></div>
				</form>
			</div>
			<% }else{%>
			<div class="meiriyiju">
				<div class="onesentence"><p><%=mryj %></p></div>
				<div class="statistics"><p>共有<%=d.usercount %>位小伙伴,写下<%=d.count %>条<%= catezh %>贴<p></div>
			</div>
			<%}%>
			<h3 class="page_header_info">最新</h3>
			<div class="allmsg">
				<% 
				var result = d.data;  
				%>
				<% for(var i= 0;i<result.length;i++){
					if(result[i]){
						%>
						<div class="articleitem">  
						 <div class="photowrap"><a class="userlink" href="/user/<%= result[i]._creator.name %>"><img src=<%= result[i]._creator.photo %>></a></div>
							<div style="margin-left:70px;">
								<div>
									<a class="title" id=<%= result[i].tid %> href="/user/<%= result[i]._creator.name %>"><%= result[i]._creator.name %></a>
									<span class="shuo_sty">说</span> 
								 </div>
								 <% if(result[i].title &&result[i].title.length > 0 ){%>
									<p class="item_title"><a href="/article/<%= result[i].tid %>"><%= result[i].title %></a></p>
								 <%}%>
								<pre class="msg_content"><%- result[i].newcontent %> </pre> 
								<div class="msg_date"><%= result[i].convertdate  %> 
									<div class="reply">
										<a href="/article/<%= result[i].tid %>"><%= (result[i].reply_count>0)?result[i].reply_count:'' %>吐糟</a>
									</div>
									<div class="reply">
										<a class="likebtn" data-tid="<%= result[i].tid %>"><span><%= (result[i].like_count>0)?result[i].like_count:'' %></span>赞↑↑↑</a>-
										<a class="unlikebtn" data-tid="<%= result[i].tid %>">↓↓↓踩<span><%= (result[i].unlike_count>0)?result[i].unlike_count:'' %></span></a>-   
									</div>
								</div>
							</div> 
							<div class="clearfix"></div>
						</div>
						<%}}%>
					</div>
					<% include partial/pagination%>
							</div>
							<div style="clear:both"></div>
						</div>				
	<% include partial/footer %>