<% include partial/header%>
</head>
<body>
<% include partial/nav %>
<div class="mainwrap">
	<% if(!locals.userinfo){%>
	<div class="rightwrap">
		<%}else{%>
		<div class="rightwrap index_rightwrap">
			<%}%>
			<% include partial/indexsidebar %>
		</div>
		<div class="leftwrap"> 
			<div class="allmsg">
				<%
				var result = d.data;
				%>
				<% for(var i= 0;i<result.length;i++){
				if(result[i]){
				%> 
					<div class="articleitem"> 
					<div>
						<div> 
							<% if(result[i].title &&result[i].title.length > 0 ){%>
							<p class="item_title"><a href="/t/<%= result[i].tid %>" class="articletype"><%= result[i].title %></a>
								<% if(result[i].imagelength > 0 ){%>
								<i class="fa fa-picture-o">
								</i><%=result[i].imagelength%>
								<%}%>
							</p>
							<%}%>							
							<div class="msg_content"><%- result[i].newcontent %> </div>
						</div>
						<div class="otherinfowrap">
							<div class="articledate">
								<i class="fa fa-clock-o"></i><%= result[i].convertdate  %>
							</div>
							<div class="articletag">
								<% if(typeof(result[i].label) !== "undefined"){
								if(result[i].label.length>0){%> 
									<i class="fa fa-tags"></i>
									<%
									var labelarr = result[i].label.split(",");
									for(var j=0 ;j<((labelarr.length-1)>4?4:(labelarr.length-1));j++){
										%> 
											<a  href="/tag/<%- labelarr[j]%>/"><%- labelarr[j]%></a> 
										<%}%> 
									<%}
								}%>
								</div>
								<div class="author-wrap">
									<i class="fa fa-user"></i>
									<a class="userlink show-pop-async" data-uid=<%= result[i]._creator.uid %> id=<%= result[i].tid %> href="/user/<%= result[i]._creator.name %>"><%= result[i]._creator.name %></a>
								</div>
								<div class="operwrap btn-group">
									<a class="viewbtn btn" data-tid="<%= result[i].tid %>" title="查看"><span><%= (result[i].view_count>0)?result[i].view_count:'' %></span><i class="fa fa-eye"></i></a>
									<a class="likebtn  btn" data-tid="<%= result[i].tid %>" title="赞"><span><%= (result[i].like_count>0)?result[i].like_count:'' %></span><i class="fa fa-chevron-up"></i></a>
									<a class="unlikebtn btn" data-tid="<%= result[i].tid %>" title="踩"><span><%= (result[i].unlike_count>0)?result[i].unlike_count:'' %></span><i class="fa fa-chevron-down"></i></a>
									<a class="replybtn btn" href="/t/<%= result[i].tid %>" title="吐糟"><%= (result[i].reply_count>0)?result[i].reply_count:'' %><i class="fa fa-comments"></i></a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<%}}%>
				</div>
				<% include partial/pagination%>
			</div>
			<div style="clear:both"></div>
		</div>
		<div id="tags-bar">
				<ul class="tag-list">			
				<% 
					var tags = d.tags;
					for(var i= 0;i<tags.length;i++){%>
					<li class="tag-single"> <a href="/tag/<%- tags[i]%>/"><%- tags[i]%></a> </li>

				<%}%> 
				</ul>			
		</div>
		<% include partial/footer %>