<% include partial/header%>
</head>
<body>
	<% include partial/nav %>
	<div class="mainwrap"> 
		<% if(!locals.userinfo){%>
			<div class="rightwrap">		
		<%}else{%>
			<div class="rightwrap index_rightwrap">		
		<%}%>
			<% include partial/indexsidebar %>
		</div>
		<div class="leftwrap">
		<% if(!locals.userinfo){%>			
			<div class="meiriyiju">
				<div class="onesentence"><p><%=mryj %></p></div>
				<div class="statistics"><p>共有<%=d.usercount %>位小伙伴,写下<%=d.count %><%= cataZh %><p></div>
			</div>
			<% } %>
			<div class="allmsg">
				<% 
				var result = d.data;  
				%>
				<% for(var i= 0;i<result.length;i++){
					if(result[i]){
						%>
						<div class="articleitem">  
						 <div class="photowrap"><a class="userlink show-pop-async" data-uid=<%= result[i]._creator.uid %> href="/user/<%= result[i]._creator.name %>"><img src=<%= result[i]._creator.photo %>></a></div>
							<div style="margin-left:55px;">
								<div>
									<a class="title" id=<%= result[i].tid %> href="/user/<%= result[i]._creator.name %>"><%= result[i]._creator.name %></a>
									<%
									if(result[i].location){
									%>
									在
									<span class="sitetext"><%- result[i].location %></span> 
									<%}%>
									<% if(result[i].classify === 0){%>
										<span>说</span> 
										 <% if(result[i].title &&result[i].title.length > 0 ){%>
											<p class="item_title"><a href="/article/<%= result[i].tid %>"><%= result[i].title %></a></p>
										 <%}%>
										<div class="msg_content"><%- result[i].newcontent %> </div> 
									<%}else{%>
										<span>分享来自
											<%if(result[i]._sid){%>
												<a href="#" class="sitetext" data-toggle="tooltip" data-placement="right" title="<%=result[i]._sid.sbrief %>"><%=result[i]._sid.sname %></a>
											<%}else{%>
												net
											<%}%>
										
										的快链</span>
											<%if(result[i]._sid){%>	 
												<img class="sitepic" src="<%=result[i]._sid.spic %>">
											<%}%>
										<p class="item_title"><a href="/redirect?url=<%= result[i].title %>" target="_blank"><%= result[i].content %><i class="fa fa-external-link"></i></a></p>
									<%}%>
								 </div> 
								<div class="msg_date"><i class="fa fa-clock-o"></i><%= result[i].convertdate  %>  
									<div class="operwrap btn-group">
										<a class="viewbtn btn" data-tid="<%= result[i].tid %>" title="查看"><span><%= (result[i].view_count>0)?result[i].view_count:'' %></span><i class="fa fa-eye"></i></a>
										<a class="likebtn  btn" data-tid="<%= result[i].tid %>" title="赞"><span><%= (result[i].like_count>0)?result[i].like_count:'' %></span><i class="fa fa-chevron-up"></i></a>	
										<a class="unlikebtn btn" data-tid="<%= result[i].tid %>" title="踩"><span><%= (result[i].unlike_count>0)?result[i].unlike_count:'' %></span><i class="fa fa-chevron-down"></i></a>
										<a class="replybtn btn" href="/article/<%= result[i].tid %>" title="吐糟"><%= (result[i].reply_count>0)?result[i].reply_count:'' %><i class="fa fa-comments"></i></a>
									</div>
								</div>
							</div> 
							<div class="clearfix"></div>
						</div>
						<%}}%>
					</div>
					<% include partial/pagination%>
							</div>
							<div style="clear:both"></div>
						</div>				
	<% include partial/footer %>