<% include partial/header%>
</head>
<body>
<% include partial/nav %>
<div class="mainwrap">
	<div class="margin-top:10px;">
		<div class="rightwrap user_rightwrap">
			<% include partial/sidebar %>
		</div>
		<div class="leftwrap">
			<div class="page_header_info">
				<% if(cata == "mood"){ %>
				<span class="active-tab-cell">心情</span>
				<% }else{ %>
				<a href="/user/<%= visituser %>/mood"><span class="tab-cell">心情</span></a>
				<% } %>
				<% if(cata == "article"){ %>
				<span class="active-tab-cell">文章</span>
				<% }else{ %>
				<a href="/user/<%= visituser %>/article"><span class="tab-cell">文章</span></a>
				<% } %>
				<% if(cata == "fastlink"){ %>
				<span class="active-tab-cell">快链</span>
				<% }else{ %>
				<a href="/user/<%= visituser %>/fastlink"><span class="tab-cell">快链</span></a>
				<% } %>
			</div>
			<div class="user_near_article">
				<% 	var nearArticle = d.data;
				for(var i=0;i<nearArticle.length;i++){ %>
				<div class="articleitem">
					<% if(nearArticle[i].classify === 0){%>
					<div class="msg_date"><i class="fa fa-clock-o"></i><%= nearArticle[i].convertdate  %> 说
						<%}else if(nearArticle[i].classify === 2){%>
						<div class="msg_date"><i class="fa fa-clock-o"></i><%= nearArticle[i].convertdate  %> 发布一篇
							<%}else{%>
							<div class="msg_date"><i class="fa fa-clock-o"></i><%= nearArticle[i].convertdate  %> 分享来自
								<%if(nearArticle[i]._sid){%>
								<a href="/site/<%- nearArticle[i]._sid._id %>/" class="sitetext" data-toggle="tooltip" data-placement="right" title="<%=nearArticle[i]._sid.sbrief %>"><%=nearArticle[i]._sid.sname %></a>
								<%}else{%>
								net
								<%}%>
							的快链</span>
							<%if(nearArticle[i]._sid){%>
							<img class="sitepic" src="<%=nearArticle[i]._sid.spic %>">
							<%}%>
							<%}%>
							<div class="reply">
								<% if(typeof(locals.userinfo) !== 'undefined' && locals.userinfo.name === visituser){%>
								<a class="deleteitem" data-tid="<%=nearArticle[i].tid %>">
									<i class="fa fa-trash"></i>
								</a>
								<% }%>
								<% if(locals.userinfo){ %>
								<a href="/t/<%= nearArticle[i].tid %>">
									<i class="fa fa-comment"></i>
								</a>
								<% }else{%>
								<a href="/login?prelink=/t/<%= nearArticle[i].tid %>">
									<i class="fa fa-comment"></i>
								</a>
								<%}%>
							</div>
						</div>
						<% if(nearArticle[i].classify === 0){%>
						<% if(nearArticle[i].title &&nearArticle[i].title.length > 0 ){%>
						<p class="item_title"><a href="/t/<%= nearArticle[i].tid %>"><%= nearArticle[i].title %></a></p>
						<%}%>
						<div class="msg_content"><%- nearArticle[i].newcontent %> </div>
						<%}else if(nearArticle[i].classify === 2){%>
						<% if(nearArticle[i].title &&nearArticle[i].title.length > 0 ){%>
						<p class="item_title"><a href="/t/<%= nearArticle[i].tid %>"><%= nearArticle[i].title %></a></p>
						<%}%>
						<div class="msg_content"><%- nearArticle[i].newcontent %> </div>
						<%}else{%>
						<p class="item_title"><a href="/redirect?url=<%= nearArticle[i].title %>" target="_blank" class="urltype"><%= nearArticle[i].content %><i class="fa fa-external-link"></i></a></p>
						<%}%>
						<div class="clearfix"></div>
					</div>
					<% } %>
						<div class="navigator">
					<% if(nearArticle.length > 12){%> 
							<% if(d.currentpage > 1 ){%>
							<a href="/user/<%= visituser %>/<%= cata %>/?p=<%= d.currentpage - 1  %>" class="last_page fade_trans">
								&larr;上一页
							</a>
							<%}%>
							<% if(nearArticle.length > config.index.list_article_size ){%>
							<a href="/user/<%= visituser %>/<%= cata %>/?p=<%= d.currentpage - (-1)  %>" class="next_page fade_trans">
								下一页&rarr;
							</a>
							<%}%>
							<div class="page_numwrap">
								<div class="page_num">
									<%
									var pagesize = config.index.list_article_size;
									var pagenum = Math.ceil(d.articlenum/pagesize);
									%>
									<%= d.currentpage %>/<%= pagenum %>
								</div>
							</div>
					<%}else{%>
							<div class="nomore">全部显示了</div>
					<%}%>
						</div>
				</div>
				
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	<% include partial/footer %>