	<%
	var displaypage = 7; 
	var items = d.count; 
	var pagesize = config.index.list_admin_article_size;
	var page = Math.ceil(items/pagesize);
	var curpage = p; 
	if(typeof(curpath) === 'undefined'){
		curpath = '';
	}
	%> 	
<nav>
	<ul class="pagination"> 
		<% if(curpage == 1 ){ %>
			<li class="disabled"><a>上一页</a></li>
		<% }else{ %>
			<li><a href="<%= curpath %>?p=<%=curpage-1 %>">上一页</a></li>
		<% } %> 
		<%  if( page < displaypage){
			for(var j=1;j<=page;j++){
				if( j == curpage ){%>
				<li class="active"><a><%= j %></a></li>
				<% }else{ %>	
				<li><a href="<%= curpath %>?p=<%= j %>"><%= j %></a></li>
				<%}
			}%>
		<% }else{
			if( (parseInt(curpage)-1) <= 4){
				for(var j=1;j<=displaypage;j++){
					if( j == curpage ){%>
						<li class="active"><a><%= j %></a></li>
					<% }else{ %>
						<li><a href="<%= curpath %>?p=<%= j %>"><%= j %></a></li>
					<%}%>
				<%}%>
						<li class="disabled"><a>...</a></li>
			<%}%>


				<% if( (page-parseInt(curpage)) <= 4 && (parseInt(curpage)-1) > 4){%>
				<li class="disabled"><a>...</a></li>
				<% for(var j=page-displaypage;j<=page;j++){
					if( j == curpage ){%>
					<li class="active"><a><%= j %></a></li>
					<% }else{ %>
					<li><a href="<%= curpath %>?p=<%= j %>"><%= j %></a></li>
					<%}
				}%>

				<% } %>

				<% if( (page-parseInt(curpage)) > 4 && (parseInt(curpage)-1) > 4){%>
					<li class="disabled"><a>...</a></li>
					<% for(var j=curpage-3;j<=parseInt(curpage)+3;j++){
						if( j == curpage ){%>
						<li class="active"><a><%= j %></a></li>
						<% }else{ %>
						<li><a href="<%= curpath %>?p=<%= j %>"><%= j %></a></li>
						<%}
					}%>
					<li class="disabled"><a>...</a></li>
				<% } %>
		<% } %>
		<% if( curpage < page ){%>
			<li><a href="<%= curpath %>?p=<%= (parseInt(curpage)+1) %>">下一页</a></li>
		<% }else{%>
			<li class="disabled"><a>下一页</a></li>
		<% } %> 
	</ul> 		
</nav>