<div class="site_intro">
	<div class="sidetitle"><span class="titletext">38锶</span></div>
	<p>做一体化的IT社区</p>
</div>
<% if(locals.userinfo){%>
<div class="pubone">
	<a href="/pub" class>发布一个</a>
</div>
<%}%>
<div class="everyday">
	<div class="everyday_text">
		<%if(typeof(zymryj.cncontent)!== 'undefined'){%>
		<p class="everyday_text_cn"><%= zymryj.cncontent %></p>
		<%}%>
		<%if(typeof(zymryj.encontent)!== 'undefined'){%>
		<p class="everyday_text_en"><%= zymryj.encontent %></p>
		<%}%>
	</div>
	<img src='<%= zymryj.img %>' width=100% height=133 class="everyday_img"/>
	<div style="clear:both"></div>
</div>
<div class="userfresh">
	<div class="sidetitle"><span class="titletext">锶者榜</span></div>
	<div class="userlist">
		<%
		var hotuser = d.hotuser;
		for(i=0;i<hotuser.length;i++){%>
		<a href="/user/<%=hotuser[i].name%>" alt="<%=hotuser[i].name%>" class="userview fansuserlink">
			<div href="/user/<%=hotuser[i].name%>" alt="<%=hotuser[i].name%>" class="imagewrap"><img src=<%= hotuser[i].photo %>></div>
			<div class="namewrap"><%=hotuser[i].name%></div>
			<div
				<% if(i==0){%>
				class="ordernum firstorder"
				<% }else if(i==1){%>
				class="ordernum secondorder"
				<%}else if(i==2){%>
				class="ordernum thirdorder"
				<%}else{%>
				class="ordernum otherorder"
				<%}%>
			><%= i+1 %></div>
		</a>
		<%}%>
		<div style="clear:both"></div>
	</div>
</div>
<div class="downloadapp">
	<div class="sidetitle"><span class="titletext">APP下载</span></div>
	<img style="width:200px;height:200px;margin-top: 15px;" src="/images/androidld.png">
</div>
<%
var siteList = config.site_link;
if(siteList.length > 0){
%>
<div class="site_link">
	<div class="sidetitle"><span class="titletext">链接</span></div>
	<ul class="site_list">
		<%for(i=0;i<siteList.length;i++){%>
		<li><a href="<%= siteList[i].link %>" target="_blank" class="frilink"><%= siteList[i].text %></a></li>
		<%}%>
	</ul>
</div> 
<%}%> 


<div class="google-ad">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 214 -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:214px;height:214px"
	     data-ad-client="ca-pub-6736333362394709"
	     data-ad-slot="2368243071"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>