
			<% if(!locals.userinfo){%>
				<div class="loginwrap">
					<form class="form-horizontal" role="form" action="/login" method="POST">
						<div class="form-group">  
							<input  class="form-control accountbg" id="uname" name="uname" placeholder="name"> 
						</div>
						<div class="form-group">  
								<input type="password" class="form-control pwdbg" id="pwd" name="pwd" placeholder="Password"> 
						</div> 
						<div>
							<div class="form-group" style="float:left">  
								<div class="checkbox">  
										<label>
											<input type="checkbox" name="remember">记住登录  
										</label>  
								</div>
							</div>
							<div class="form-group" style="float:right">  
									<input type="hidden" id="prelink" name="prelink" value="/">
									<button type="submit" class="btn btn-default" style="padding: 6px 36px;">登录</button>
							</div> 
						</div> 
					</form>
					<div style="clear:both"></div>
				</div>
			<% }else{%>
				<div class="pubone">
					<a href="/pubarticle" class>发布一个</a>
				</div>
				<div class="site_intro">
					<div class="sidetitle">38锶</div> 
					<p>做一名简单的锶者</p>
				</div>
			<%}%>
			<div class="everyday">
				<div class="everyday_text">
					<p class="everyday_text_cn"><%= zymryj.cncontent %></p>
					<p class="everyday_text_en"><%= zymryj.encontent %></p>
				</div>
				<img src='<%= zymryj.img %>' width=205 height=133 class="everyday_img"/> 
				<div style="clear:both"></div>
			</div>
			<div class="userfresh">
				<div class="sidetitle">锶者榜</div>
				<div class="userlist">
				<%
				var hotuser = d.hotuser; 
				 for(i=0;i<hotuser.length;i++){%>
				 	<div class="userview">
						<a href="/user/<%=hotuser[i].name%>" alt="<%=hotuser[i].name%>"><img src=<%= hotuser[i].photo %>></a>
						<a href="/user/<%=hotuser[i].name%>" alt="<%=hotuser[i].name%>"><%=hotuser[i].name%></a>
					</div>
				<%}%>
				<div style="clear:both"></div>
				</div>
			</div>

			<% 
			var siteList = config.site_link;
			if(siteList.length > 0){
			%>
			<div class="site_link">
				<div class="sidetitle">链接</div>
				<ul class="site_list">
				<%for(i=0;i<siteList.length;i++){%>
					<li><a href="<%= siteList[i].link %>" target="_blank" class="frilink"><%= siteList[i].text %></a></li>
				<%}%>
				</ul>
			</div>
			<%}%>		