<nav class="navbar navbar-default navbar-fixed-top appwrap" id="navigate">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
 		<a class="logo navbar-brand" href="/">
 			<img src="/images/38sr.png" border="0" align="default" alt="V2EX" width="94" height="30">
 		</a> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="catawrap nav navbar-nav" role="tablist">  
			<li class="<%= (locals.pageflag== -1)?'active':'' %>" %><a href="/">广场</a></li>
			<li class="<%= (locals.pageflag== 0)?'active':'' %>" %><a href="/mood">心情</a></li>
			<li class="<%= (locals.pageflag== 2)?'active':'' %>" %><a href="/article">文章</a></li>
			<li class="<%= (locals.pageflag== 1)?'active':'' %>" %><a href="/fastlink">快链</a></li> 
		</ul> 

		<% if(locals.userinfo){%>	
				<ul class="reg_login navbar-nav navbar-right">  
					<li class="dropdown">
       			    	<a class="dropdown-toggle optionaccess" data-toggle="dropdown" href="#" id="optionaccess"><%=locals.userinfo.name %><sup class="badge"><%=(locals.userinfo.msgcount!== 0)?locals.userinfo.msgcount:'' %></sup><span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" id="optionaccesslist">
						        <li><a href="/pub"> 发布一个</a></li> 
						        <li class="divider"></li>
						        <li><a href="/user/<%=locals.userinfo.name %>">个人中心</a></li>
						        <li><a href="/set">个人设置</a></li> 
								<% if(locals.userinfo.admin == 1){%>	
						       		 <li><a href="/admin">管理</a></li> 
								<% }%>	
						        <li><a href="/message">消息<span class="badge"><%=(locals.userinfo.msgcount!== 0)?locals.userinfo.msgcount:'' %></span></a></li> 
						        <li class="divider"></li>
							 	<li><a href="/logout">安全登出</a></li>	
					        </ul>  
					    </a> 
					</li> 
				</ul>  
			<%}else{%> 
				<ul class="un_reg_login navbar-nav navbar-right">
					<li><a class="optionaccess" id="regbtn">注册</a></li>
					<li><a class="optionaccess" id="loginbtn">登录</a></li>
				</ul> 
			<%}%> 
 		<div class="headsearch"> 
 				<div class="search-btn-wrap">
	              <i class="fa btn-search fa-search"></i>
	              <i class="fa btn-close fa-times-circle"></i>
	            </div>
				<form class="navbar-form form-search" action="/search" method="GET">
	              <div class="form-group">
	                <input class="form-control search-ipt" name="searchstr" type="text" value="" placeholder="search">
	              </div>
	            </form>
		</div>
			<div style="fix:clear;"></div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




