<% 
var userinfo = d.userinfo; 
%>
			<div class="userinfo">
			<div class="baseinfo">
				<div class="baseinfo-name"><%= userinfo.name %></div>
				<img src=<%= userinfo.originphoto %>>
				<p>第<%= userinfo.uid %>位成员</p>
				<p><%= userinfo.joinDate %></p>	 
				<% if(typeof(userinfo.intro) !== 'undefined') {%>
				<pre class="intropre"><%= userinfo.intro %></pre>
				<% } %>
				<% if(typeof(locals.userinfo) !== 'undefined' && locals.userinfo.name === userinfo.name){%>
					<p><a href="/set">个人设置</a></p>
				<%}else{%>
					<p><a id="relatebtn" class=<%= (d.isfollow)?'unfollowfri':'followfri' %>  data_id="<%=userinfo.uid %>">
					<%if(d.isfollow){%>
						<i class="fa fa-minus"></i>  取消关注
					<%}else{%>
						<i class="fa fa-plus"></i>  关注此人
					<%}%> 
					</a></p>
				<%}%>
				</div>
				<div class="follower">				
					<%
						var followerlist = d.followerlist;  
						var length1 = followerlist.length;
					%>
					<div class="follower_title"><span  class="followernum">拥趸(<%= d.followernum %>)</span>
						<%
						if(d.followernum > 6){
						%>
							<a href="/<%=userinfo.name%>/follower" class="more_follower">更多</a>	
						<%
						}
						%>
					</div>
					<div class="followme">
						<% 
							for(i=0;i<length1;i++){
								var follower =followerlist[i]._uid_info;
							%>
								<a href="/user/<%=follower.name%>" alt="<%=follower.name%>" class="followerwrap fansuserlink"> 
										<div href="/user/<%=follower.name%>" alt="<%=follower.name%>" class="imagewrap"><img src=<%= follower.photo %>></div>
										<div class="namewrap"><%=follower.name%></div> 
								</a>
						<%}%>
					</div>					
					<%
						var hefollowlist = d.hefollowlist;  
						var length2 = hefollowlist.length;
					%>
					<div class="follower_title"><span class="followernum">关注(<%= d.hefollowernum %>)</span>
						<%
						if(d.hefollowernum > 6){
						%>
							<a href="/<%=userinfo.name%>/hefollower" class="more_follower">更多</a>	
						<%
						}
						%>
					</div>
					<div class="hefollow">
						<% 
							for(i=0;i<length2;i++){
								var hefollow =hefollowlist[i]._fuid_info;
							%>
				 			<a href="/user/<%=hefollow.name%>" alt="<%=hefollow.name%>" class="fansuserlink">
					 				<div class="followerwrap">
										<div href="/user/<%=hefollow.name%>" alt="<%=hefollow.name%>" class="imagewrap"><img src=<%= hefollow.photo %>></div>
										<span class="namewrap"><%=hefollow.name%></span>
									</div>
								</a>
						<%}%>
					</div>
				</div>
			</div>